
element.style {
}
body, html {
    height: 100%;
    line-height: 1.8;
}
body, h1, h2, h3, h4, h5, h6 {
    background-color: #E8EAE3;
    color: #FA2742;

}
/*.bgimg {*/
/*    font-family: "Raleway", sans-serif;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    background-image: url("portfolioImages/image20.jpg");*/
/*    background-repeat: no-repeat;*/
/*}*/

.w3-tooltip, .w3-display-container {
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}
*, *:before, *:after {
    box-sizing: inherit;
}

user agent stylesheet
header {
    display: block;
}
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
min {
    filter: grayscale(50%);
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}

