
body, html {
    height: 100%;
    line-height: 1.8;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
min {
    filter: grayscale(50%);
}
.btn:hover{
    background-color: #fcde67;
    color: #5bccf6;
}
.name1{
    border-radius: 4px;
}
.name1:hover{
    background-color: #5bccf6;
    color: #fcde67;

}
.btn1,button{
    background-color:#fcde67 ;
    color: blue;
    border: none;
    border-radius: 6px;
    padding-top: 5px;
}
.top{
    position: relative;
    width: 100%;
}
.current{
    background-color:#fcde67 ;
}
.btn{
    width: 50%;
}
.hire{
    border: 1px solid #030e12;
    width: 200px;
    background-color: #5bccf6;
    border-radius: 4px;
    height: 40px;
    padding-top: 3px;

}
.hire:hover{
    background-color: green;
}